@page
@model Emigrant.App.Frontend.Pages.FormMigranteModel
@{
  var migr = Model.Migrante;  
}
 
<div class="text-center">
<form method="POST">
  <label for="nombre" class="form-label">Nombre:</label>
  <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" asp-for="Migrante.nombre" required>
  <span class="text-danger" asp-validation-for="Migrante.nombre"></span>
  <label for="apellidos" class="form-label">Apellidos:</label>
  <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos" asp-for="Migrante.apellidos" required>
  <span class="text-danger" asp-validation-for="Migrante.apellidos"></span>
  <label for="tipodocumento" class="form-label">Tipo Documento:</label>
  <input type="text" class="form-control" id="tipodocumento" name="tipodocumento" placeholder="Tipo Documento" asp-for="Migrante.tipodocumento" required>
  <span class="text-danger" asp-validation-for="Migrante.tipodocumento"></span>
  <label for="numeroidentificacion" class="form-label">Numero Identificacion:</label>
  <input type="text" class="form-control" id="numeroidentificacion" name="numeroidentificacion" placeholder="Numero Identificacion" asp-for="Migrante.numeroidentificacion" required>
  <span class="text-danger" asp-validation-for="Migrante.numeroidentificacion"></span>
  <label for="paisorigen" class="form-label">Pais Origen:</label>
  <input type="text" class="form-control" id="paisorigen" name="paisorigen" placeholder="Pais Origen" asp-for="Migrante.numeroidentificacion" required>
  <span class="text-danger" asp-validation-for="Migrante.paisorigen"></span>
  <label for="fechanacimiento" class="form-label">Fecha nacimiento:</label>
  <input type="date" class="form-control" id="fechanacimiento" name="fechanacimiento" placeholder="Fecha Nacimiento">
  <label for="email" class="form-label">Correo Electronico:</label>
  <input type="text" class="form-control" id="email" name="email" placeholder="Correo Electronico">
  <label for="telefono" class="form-label">Teléfono:</label>
  <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Teléfono">
  <label for="direccion" class="form-label">Dirección:</label>
  <input type="text" class="form-control" id="direccionactual" name="direccionactual" placeholder="Dirección Actual">
  <label for="ciudad" class="form-label">Ciudad:</label>
  <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ciudad">
  <label for="situacion laboral" class="form-label">Situacion Laboral:</label>
  <input type="text" class="form-control" id="situacionlaboral" name="situacionlaboral" placeholder="Situacion Laboral">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>